.card {
  width: 540px;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.card__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 32px;
  list-style-type: none;
}
.card__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.card__list-item {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
  list-style-type: none;
  display: flex;
}

.card__list-item:last-child {
  margin-bottom: 0;
}
.card__list-divider {
  border-bottom: #000000 1px solid;
  flex-grow: 3;
}
