.menu__cards {
  padding-top: 100px;
  padding-bottom: 100px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.card {
  margin-right: 100px;
  padding-bottom: 100px;
  display: flex;
  width: 540px;
  display: flex;
  margin: auto;
  flex-direction: column;
}

.card__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 32px;
  list-style-type: none;
}
.card__list-item {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
  list-style-type: none;
  display: flex;
}
.card__list-divider {
  border-bottom: #000000 1px solid;
  flex-grow: 3;
}
.card__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
