.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
}

.logo {
  position: absolute;
  height: 142px;
  width: 125px;
  padding-top: 30px;
  padding-left: 30px;
}

.nav__links {
  padding: 30px 80px 0px 0px;
  column-gap: 20px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  display: flex;
  justify-content: right;
  list-style-type: none;
}

.nav__link {
  text-decoration: none;
  color: #000000;
}

.header__title {
  position: relative;
  z-index: 1;
  margin-top: 202px;
  padding-left: 80px;
  margin-bottom: 80px;
  max-width: 729px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", Times New Roman, serif;
  font-style: italic;
  color: #2f80ed;
  font-size: 60px;
  line-height: 72px;
}

.header__description {
  position: relative;
  z-index: 1;
  max-width: 683px;
  margin: 0px;
  margin-top: 28px;
  padding-left: 80px;
  font-family: "Noto Serif", Times New Roman, serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  right: 5px;
  top: 124px;
  height: 568px;
}

.header__footer {
  position: absolute;
  display: flex;
  flex-direction: row;
  padding-bottom: 40px;
  bottom: 40px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  right: 80px;
  left: 80px;
  justify-content: space-between;
}

.header__address {
  display: flex;
  justify-content: flex-end;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin: 0;
  align-items: end;
}

.header__paragraph {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin: 0;
}

.header__hours {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0px 0px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-left: 80px;
  padding-top: 100px;
  color: #fff;
}

.recipes__title {
  max-width: 580px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
}

.recipes__subtitle {
  max-width: 438px;
  margin-bottom: 24px;
  font-family: "Noto Serif", Times New Roman, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  margin-bottom: 215px;
}

.recipes__iframe {
  height: 273px;
  width: 480px;
  margin-right: 40px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  border: 0;
}

.recipes__video-caption {
  margin-bottom: 24px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  justify-content: space-between;
  display: flex;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.reservation__title {
  padding-top: 100px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  justify-content: center;
  display: flex;
  margin-bottom: 80px;
}

.form reservation__form {
  padding-bottom: 120px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 0px;
}

.reservation__form {
  padding-bottom: 120px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__fieldset {
  padding: 0;
  border-width: 0;
}

.form__label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.form__input {
  border-radius: 4px;
  height: 60px;
  padding: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 385px;
}

.form__button {
  border-radius: 4px;
  height: 60px;
  margin-top: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  opacity: 100%;
  transition: opacity ease-in-out;
  padding: 0;
  width: 385px;
  background-color: #2f80ed;
  color: #ffffff;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  border-radius: 2px;
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
  height: 20px;
  width: 20px;
  margin-right: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__checkbox-container {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
